@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  background: url('../public/bg.png');
  max-width: '1440px';
}
.chakra-ui-light{
  --chakra-colors-chakra-body-bg: none;
}

.css-79z5gx {
  background: #03120E;
  /* background-image: url('../public/bg.png'); */
}

.content-drawer{
  z-index: 99999 !important;
}

.chakra-ui-dark{
  --chakra-colors-chakra-body-bg: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
